@tailwind base;
@tailwind components;
@tailwind utilities;

#folderUpload {
    display: flex;
    width: 100%;
    justify-content: center;
}

#folderUpload-formBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#bg-wrap {
    background-image: linear-gradient(180deg,#a5a5a538 4.32%,hsla(0,0%,100%,.1)),linear-gradient(270deg,rgba(0,255,253,.1),rgba(236,0,255,.1) 51.26%,rgba(255,103,0,.1));
}

.image-input {
    transition: transform 0.5s ease-in-out;
  }
  .image-input.translate-y-0 {
    transform: translateY(0);
  }
  .image-input.translate-y-full {
    transform: translateY(100%);
  }

.bg-custom-gradient {
  background: linear-gradient(0deg, rgba(220,252,231,1) 0%, rgba(220,252,231,1) 25%, rgba(220,252,231,0) 75%, rgba(220,252,231,0) 100%);
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  /* For Chrome, Safari, and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.max-h-0 {
	max-height: 0;
}

.group:focus .group-focus\:max-h-40 {
	max-height: 10rem;
}


/* Loader */
.spinningLoader {
  display: grid;
  place-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(81, 0, 255, 0) 0deg,
    #4f46e5 360deg
  );
  animation: spin 2s infinite linear;
}
.spinningLoader::before {
  content: "";
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background-color: #eef2ff;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.users-color-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.item {
  max-width: 200px;
  aspect-ratio: 1/1;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5),
    inset 0px 2px 2px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.5s linear 1 forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.item:nth-child(1) {
  background-color: #67d7e1;
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(2) {
  border-radius: 50% 50% 0 0;
}

.item:nth-child(3) {
  background-color: #6cc164;
  border-radius: 50%;
}

.item:nth-child(4) {
  border-radius: 0 0 0 50%;
}

.item:nth-child(5) {
  border-radius: 0 50% 50% 0;
}

.item:nth-child(6) {
  background-color: #8071a8;
  border-radius: 0 50% 50% 50%;
}

.item:nth-child(7) {
  border-radius: 50% 50% 0 50%;
}

.item:nth-child(8) {
  background-color: #fe7519;
  border-radius: 50% 0 0 50%;
}

.item:nth-child(9) {
  background-color: #f5bec3;
  border-radius: 0 50% 50% 0;
}

.item:nth-child(10) {
  border-radius: 50%;
}

.item:nth-child(11) {
  background-color: #fcd659;
  border-radius: 50% 0 50% 50%;
}

.item:nth-child(12) {
  border-radius: 50% 0 0 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}